body {
  background-color: black;
}
.title {
  color:white;
  font-size:50px;
  font-family:"Brush Script MT", cursive;
  padding-left: 50px;
}
.subtitle {
  color:white;
  font-size:30px;
  font-family:"Papyrus", fantasy;
}
