body {
  background-color: black;
}
.title {
  color:white;
  font-size:100px;
  font-family:"Brush Script MT", cursive;
  text-align: center;
}
.subtitle {
  color:white;
  font-size:30px;
  font-family:"Papyrus", fantasy;
  display: inline-block;
  float: left;
  width: 250px;
  height:100px;
  text-align: center;
}
a:visited {
  color:none;
}
