body {
  background-color: black;
}
.title {
  color:white;
  font-size:100px;
  font-family:"Brush Script MT", cursive;
  text-align: center;
}
.subtitle {
  color:white;
  font-size:30px;
  font-family:"Papyrus", fantasy;
  display: inline-block;
  float: left;
  width: 250px;
  height:100px;
  text-align: center;
}
a:visited {
  color:transparent;
}
a:hover{
  color:grey;
}
#pizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.menu {
  color:white;
  font-size:30px;
  font-family:"Papyrus", fantasy;
  text-align: left;
  padding-left: 50px;
}
.menusubtitle {
  color:white;
  font-size:50px;
  font-family:"Papyrus", fantasy;
  text-align: center;
}
